name: Java CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  release:
    types: [ created ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      
      - name: Display Docker Metadata Outputs
        run: |
          echo version:
          echo ${{ steps.meta.outputs.version }}
          echo tags:
          while IFS= read -r tag; do
            echo "$tag"
          done <<< "${{ steps.meta.outputs.tags }}"
          echo labels:
          while IFS= read -r label; do
            echo "$label"
          done <<< "${{ steps.meta.outputs.labels }}"
          echo json:
          echo ${{ steps.meta.outputs.json }}
          echo bake-file:
          echo ${{ steps.meta.outputs.bake-file }}

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots -DskipTests clean package

      - name: Run Unittests
        run: mvn --batch-mode --update-snapshots verify
      
      - name: Build Docker Image
        run: mvn spring-boot:build-image -Dspring-boot.build-image.imageName=${{ env.IMAGE_NAME }}:${{ github.sha }}
      
      - name: Tag and Push Docker Image
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          while IFS= read -r tag; do
            docker tag ${{ env.IMAGE_NAME }}:${{ github.sha }} $tag
            docker push $tag
          done <<< "${{ steps.meta.outputs.tags }}"
